@using MIS.ViewModels.View.WareHouse
@model IndexWarehouseViewModel

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/addons/datatables.min.css" rel="stylesheet">

<h1 class="d-flex justify-content-center container-fluid">Warehouse</h1>
<h2 class="d-flex justify-content-center container-fluid">@Model.Name</h2>

<div class="row container-fluid justify-content-around mb-4">
    <div class="col-md-2">
        <a class="btn btn-primary dropdown-toggle container-fluid" type="button" id="dropdownMenu2" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">Warehouse</a>

        <div class="dropdown-menu dropdown-primary container-fluid">
            @foreach (var warehouse in Model.WarehouseDropdown)
            {
                <a asp-controller="WareHouse" asp-action="Index" asp-route-id="@warehouse.Id" class="dropdown-item">@warehouse.Name</a>
            }
        </div>
    </div>

    @if (!Model.IsFavorite)
    {
        <div class="col-md-2">
            <a asp-controller="WareHouse" asp-action="Favorite" asp-route-id="@Model.Id" class="btn btn-primary container-fluid">Make it Favorite</a>
        </div>
    }

    <div class="col-md-2">
        <a class="btn btn-primary container-fluid" asp-controller="Product" asp-action="Create" asp-route-id="@Model.Id">
            Create product
        </a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary container-fluid" asp-controller="Category" asp-action="Create" asp-route-id="@Model.Id">
            Create category
        </a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary container-fluid" asp-controller="WareHouse" asp-action="Edit" asp-route-id="@Model.Id">
            Edit
        </a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary container-fluid" asp-controller="WareHouse" asp-action="Delete" asp-route-id="@Model.Id">
            Delete
        </a>
    </div>
</div>

<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm">Name</th>
            <th class="th-sm">Price</th>
            <th class="th-sm">Quantity</th>
            <th class="th-sm">Barcode</th>
            <th class="th-sm">Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products.OrderBy(x => x.CategoryName))
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Quantity</td>
                <td>@product.BarCode</td>
                <td>
                    <div class="d-flex container-fluid justify-content-between">
                        <div>
                            @product.CategoryName
                        </div>
                        <div>
                            <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id">
                                <img src="~/ico/pencil-2x.png" class="mx-auto" />
                            </a>
                            <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id">
                                <img src="~/ico/x-2x.png" class="mx-auto" />
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript" src="~/js/addons/datatables.min.js"></script>
    <script src="~/js/site.js"></script>
}