@using MIS.Common
@model IEnumerable<MIS.ViewModels.View.AdministratorManage.AdministratorShowUserViewModel>

    @{
    ViewData["Title"] = "Index";
    }

@*TODO : REFACTOR THIS*@

<h2>Users</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Username
                </td>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.PhoneNumber
                </td>
                <td>
                    @item.Role
                </td>
                <td>
                    @item.CompanyName
                </td>
                <td>
                    @if (item.Username == GlobalConstants.RootAdminName)
                    {
                    }
                    else if (item.Role == GlobalConstants.UserRoleName && item.Username != this.User.Identity.Name)
                    {
                        <a asp-area="Administrator" asp-controller="AdministratorManage" asp-action="Create" asp-route-id="@item.Id" onclick="return confirm('Are you sure? You want to create |@item.Username| admin?')">
                            <img src="/ico/open-iconic-master/png/plus-2x.png" class="mx-auto"/>
                        </a>
                    }
                    else if(item.Username != this.User.Identity.Name)
                    {
                        <a asp-area="Administrator" asp-controller="AdministratorManage" asp-action="Remove" asp-route-id="@item.Id" onclick="return confirm('Are you sure? You want to remove |@item.Username| from admins?')">
                            <img src="/ico/open-iconic-master/png/x-2x.png" class="mx-auto"/>
                        </a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
