@using MIS.ViewModels.View.Report
@model IndexReportViewModel
@{
    ViewData["Title"] = "Index";
}

<link href="~/css/addons/datatables.min.css" rel="stylesheet">

<h1>Index</h1>

<a asp-controller="Report" asp-action="Create" class="btn btn-primary">Create</a>

<table id="dtBasicExample" class="table table-striped table-bordered table-sm " cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm">Report name</th>
            <th class="th-sm">Company name</th>
            <th class="th-sm">User name</th>
            <th class="th-sm">From</th>
            <th class="th-sm">To</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model.Reports)
        {
            <tr>
                <td><a asp-controller="Report" asp-action="Details" asp-route-id="@report.Id">@report.Name</a></td>
                <td>@report.CompanyName</td>
                <td>@report.UserUsername</td>
                <td>@report.From.ToString("G")</td>
                <td>@report.To.ToString("G")</td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script type="text/javascript" src="js/addons/datatables.min.js"></script>
    <script src="~/js/site.js"></script>
}