@using MIS.ViewModels.View.Report
@model ReportIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<link href="~/css/addons/datatables.min.css" rel="stylesheet">

<h1 class="container-fluid d-flex justify-content-center">Reports</h1>

<div class="d-flex justify-content-center">
<a asp-controller="Report" asp-action="Create" class="btn btn-primary container-fluid justify-content-center col-md-4">Create</a>
</div>
<table id="dtBasicExample" class="table table-striped table-bordered table-sm " cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm">Report name</th>
            <th class="th-sm">Company name</th>
            <th class="th-sm">User name</th>
            <th class="th-sm">From</th>
            <th class="th-sm">To</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model.Reports)
        {
            <tr>
                <td><a asp-controller="Report" asp-action="Details" asp-route-id="@report.Id">@report.Name</a></td>
                <td>@report.CompanyName</td>
                <td>@report.UserUsername</td>
                <td>@report.From.ToString("G")</td>
                <td>
                    <div class="row container-fluid justify-content-between">
                        <div>
                            @report.To.ToString("G")
                        </div>
                        <div>
                            <a asp-controller="Report" asp-action="Details" asp-route-id="@report.Id" class="btn btn-sm btn-primary">Details</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script type="text/javascript" src="js/addons/datatables.min.js"></script>
    <script src="~/js/site.js"></script>
}