@using MIS.Common
@using MIS.ViewModels.SystemProductModels
@model IEnumerable<SystemProductShowViewModel>
@{
    ViewData["Title"] = "Shop";
}

<div class="row">
    @foreach (var product in Model)
    {
        <div class="card col-lg-3 col-md-6 col-sm-10" style="width: 18rem;">
            <img src="/img/@product.ImgUrl" class="card-img-top" alt="card">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <p class="card-text">@product.Description</p>
                <label class="col-form-label">Price: @product.Price.ToString("f2") BGN per month!</label>
                <br />
                <a asp-controller="Shop" asp-action="Buy" asp-route-id="@product.Id" class="btn btn-primary container-fluid col">Buy</a>
                @if (this.User.IsInRole(GlobalConstants.AdministratorAreaRole))
                {
                    <div class="row justify-content-center">
                        <div class="btn-group btn">
                            <a asp-area="Administrator" asp-controller="SystemProduct" asp-action="Details" asp-route-id="@product.Id">
                                <img src="ico/open-iconic-master/png/pencil-2x.png" class="mx-auto" />
                            </a>
                        </div>
                        <div class="btn btn-group">
                            @*TODO : check for best practices and move script on other file*@
                            <a asp-area="Administrator" asp-controller="SystemProduct" asp-action="Delete" asp-route-id="@product.Id" onclick="return confirm('Are you sure? You want to delete @product.Name?')">
                                <img src="ico/open-iconic-master/png/x-2x.png" class="mx-auto"/>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>